<div class="row" style="
    margin-top: 25%;">
<div class="col-md-8 col-md-offset-2">
	<div class="jumbotron" >
	  <h2>Hiptime! Free and easy</h2>
	  <br>
	  <h4>Trusted by millions. Hiptime is the best Task Management Application.</h4>
	  <br>
	  <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-danger" %>
	</div>
</div>
</div>
